---
// Importa cualquier otro archivo necesario aquí
---
<header>
    <nav class="flex items-center justify-between px-8 py-2 border-b border-gray-200">
        <!-- Logo -->
        <div class="flex flex-col items-center space-x-2 ml-5">
          <!-- Iconos o logotipo -->
          <img class="size-16" src="https://le0thekid.wordpress.com/wp-content/uploads/2021/06/cochi8.png?w=95" alt="Le0TheKid">
          <span class="font-bold">Le0TheKid</span>
        </div>
      
        <!-- Menu Links -->
        <div class="flex items-center space-x-10 text-gray-600">
          <a href="#" class="hover:text-black">Home</a>
          <a href="#" class="hover:text-black">Projects</a>
          <a href="#" class="hover:text-black">About</a>
          <a href="#" class="hover:text-black">Contact</a>
        </div>
      
        <!-- Hora y Fecha -->
        <div class="text-gray-400 text-sm border-r-2 border-gray-200">
            <span id="mexico-time" class="mr-2">Mex. --:-- --</span>  
        </div>
      </nav>
</header>
<script type="module" src="/src/utils/timeDisplay"></script>

  